.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
  align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
  align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
    align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
  align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
  align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
    align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
    align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
    align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
    align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
.preload__wrapper {
  display: flex;
  margin: 20px auto;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
}

.preload__title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 83px;
  color: #3d3860;
}

.preload__subtext {
  margin: 20px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #3d3860;
}

.preload__links_wrapper {
  width: 500px;
  height: 256px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.preload__link {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px -30px 0 0;
  align-items: flex-start;
}

.preload__link:nth-child(2),
:nth-child(4),
:nth-child(6) {
    align-items: center;
}

@media (max-width: 1220px) {
  .preload__title {
    font-size: 64px;
    line-height: 72px;
  }

  .preload__subtext {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 769px) {
  .preload__title {
    font-size: 32px;
  }

  .preload__subtext {
    margin: 0;
    font-size: 18px;
  }

  .preload__links_wrapper {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preload__link {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .preload__link:nth-child(2) {
    margin-top: -40px;
  }

  .preload__link:nth-child(4) {
    margin-top: -40px;
  }

  .preload__link:nth-child(6) {
    margin-top: -40px;
  }

  .preload__subtext {
    padding-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .preload__link {
    width: 160px;
  }
}
