
.container {
  padding: 0 2.8vw;
}

.footerContainer {
  padding: 0 10.76vw;
}

.footer {
  height: 13.89vw;
  margin-top: 15.67vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logoContainer {
  display: flex;
  align-items: center;
}

.footer__logoImg {
  margin-right: 0.49vw;
}

.footer__menuTitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 1.39vw;
  line-height: 1.46vw;
  color: #4C476C;
}

.footer__link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.53vw;
  color: #848196;
}

.rsSchol {
  width: 7.71vw;
  height: 2.85vw;
}

.rsScholAge {
  margin-top: 0;
}
